@page "/quickgridexample"
@rendermode InteractiveWebAssembly

@using Microsoft.AspNetCore.Components.QuickGrid


<PageTitle>QuickGrid Example</PageTitle>

<h3>QuickGrid Example</h3>

<QuickGrid Items="@Family" Class="quickgrid-table">
    <PropertyColumn Property="@(m => m.FirstName)" Title="First Name" Sortable="true" />
    <PropertyColumn Property="@(m => m.LastName)" Title="Last Name" />
    <PropertyColumn Property="@(m => m.Age)" Title="Age" />
</QuickGrid>